.nav{
    background-color: #262c3a;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    /* grid-template-rows: repeat(3, 1fr); */
    grid-auto-rows: minmax(95px, auto);
    grid-template-areas: 
    "home about favorites ....... logout"
    "....... ...... logo ...... ......."
    "....... search search search .......";
    grid-row-gap: 1px; /* Espacio entre filas */
    position: relative; 
}
.nav::after {
    content: "";
    position: absolute;
    bottom: calc(100% + 1px); /* Posiciona el pseudo-elemento debajo de la primera fila */
    left: -135%;
    width: 360%;
    height: 1px; /* Altura de la línea */
    background-color: #596787; /* Color de la línea */
    grid-area: logo; /* Asegura que el pseudo-elemento esté en la misma área que el elemento "logo" */
  }
.nav a {
    color: inherit;
    text-decoration: none;
}
/* ****************************************************** */
 /**************** ESTILOS COMUNES DE BOTONES *********************/
/* ****************************************************** */
.btnComun {
    width: 8em;
    position: relative;
    height: 2.6em;
    border: 3px solid #1e8f89;
    outline: none;
    background-color: transparent;
    color: #dddddd;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.btnComun::before {
    content: "";
    position: absolute;
    top: 90%;
    left: 6%;
    width: 88%;
    height: 40%;
    background-color: #262c3a;
    transition: 0.5s;
    transform-origin: center;
}
.btnComun::after{
    content: "";
    position: absolute;
    top: -10px;
    left: 6%;
    width: 88%;
    height: 40%;
    background-color: #262c3a;
    transition: 0.5s;
    transform-origin: center;
}
.btnComun:hover::after {
    transform: scale(0);
}
.btnComun:hover::before {
    transform: scale(0);
}
/* ****************************************************** */
 /**************** ESTILOS PARTICULARES DE BOTONES *********************/
/* ****************************************************** */
.nav .home {
    grid-area: home;
}
.nav .about {
    grid-area: about;
}
.nav .favorites {
    grid-area: favorites;
}
.nav .logout {
    grid-area: logout;
}
/* ****************************************************** */
 /**************** ESTILOS IMAGEN *********************/
/* ****************************************************** */

.nav .imgLogo {
    width: 500px;
    grid-area: logo;
    margin-top: 50px;
}
.nav .searchBar {
    grid-area: search;
}

