.nav{
    background-color: #262c3a;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    /* grid-template-rows: repeat(3, 1fr); */
    grid-auto-rows: minmax(127px, auto);
    grid-template-areas: 
    "home about favorites ....... logout"
    "....... ...... logo ...... ......."
    "....... search search search .......";
    grid-row-gap: 1px; /* Espacio entre filas */
    position: relative; 
}
.nav::after {
    content: "";
    position: absolute;
    bottom: calc(100% + 1px); /* Posiciona el pseudo-elemento debajo de la primera fila */
    left: -135%;
    width: 360%;
    height: 1px; /* Altura de la línea */
    background-color: #596787; /* Color de la línea */
    grid-area: logo; /* Asegura que el pseudo-elemento esté en la misma área que el elemento "logo" */
  }
.nav a {
    color: inherit;
    text-decoration: none;
}
/* ****************************************************** */
 /**************** BOTÓN DE HOME *********************/
/* ****************************************************** */
.nav .home {
    grid-area: home;

    width: 8em;
    position: relative;
    height: 2.6em;
    border: 3px solid #1e8f89;
    outline: none;
    background-color: transparent;
    color: #c2dd9c;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.home::before {
    content: "";
    position: absolute;
    top: 90%;
    left: 6%;
    width: 88%;
    height: 40%;
    background-color: #262c3a;
    transition: 0.5s;
    transform-origin: center;
}
.home::after{
    content: "";
    position: absolute;
    top: -10px;
    left: 6%;
    width: 88%;
    height: 40%;
    background-color: #262c3a;
    transition: 0.5s;
    transform-origin: center;
}
.home:hover::after{
    transform: scale(0);
}
.home:hover::before{
    transform: scale(0);
} 
/* .home:hover {
    box-shadow: inset 0px 0px 25px #2a9244;
} */
/* ****************************************************** */
 /**************** BOTÓN DE ABOUT *********************/
/* ****************************************************** */
.nav .about {
    grid-area: about;
    
    width: 8em;
    position: relative;
    height: 2.6em;
    border: 3px solid #1e8f89;
    outline: none;
    background-color: transparent;
    color: #c2dd9c;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.about::before {
    content: "";
    position: absolute;
    top: 90%;
    left: 6%;
    width: 88%;
    height: 40%;
    background-color: #262c3a;
    transition: 0.5s;
    transform-origin: center;
}
.about::after{
    content: "";
    position: absolute;
    top: -10px;
    left: 6%;
    width: 88%;
    height: 40%;
    background-color: #262c3a;
    transition: 0.5s;
    transform-origin: center;
}
.about:hover::after{
    transform: scale(0);
}
.about:hover::before{
    transform: scale(0);
} 
/* ****************************************************** */
 /**************** BOTÓN DE FAVORITES *********************/
/* ****************************************************** */
.nav .favorites {
    grid-area: favorites;
    width: 8em;
    position: relative;
    height: 2.6em;
    border: 3px solid #1e8f89;
    outline: none;
    background-color: transparent;
    color: #c2dd9c;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.favorites::before {
    content: "";
    position: absolute;
    top: 90%;
    left: 6%;
    width: 88%;
    height: 40%;
    background-color: #262c3a;
    transition: 0.5s;
    transform-origin: center;
}
.favorites::after{
    content: "";
    position: absolute;
    top: -10px;
    left: 6%;
    width: 88%;
    height: 40%;
    background-color: #262c3a;
    transition: 0.5s;
    transform-origin: center;
}
.favorites:hover::after{
    transform: scale(0);
}
.favorites:hover::before{
    transform: scale(0);
} 
/* ****************************************************** */
 /**************** BOTÓN DE Log Out *********************/
/* ****************************************************** */
.nav .logout {
    grid-area: logout;
        
    width: 8em;
    position: relative;
    height: 2.6em;
    border: 3px solid #1e8f89;
    outline: none;
    background-color: transparent;
    color: #c2dd9c;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.logout::before {
    content: "";
    position: absolute;
    top: 90%;
    left: 6%;
    width: 88%;
    height: 40%;
    background-color: #262c3a;
    transition: 0.5s;
    transform-origin: center;
}
.logout::after{
    content: "";
    position: absolute;
    top: -10px;
    left: 6%;
    width: 88%;
    height: 40%;
    background-color: #262c3a;
    transition: 0.5s;
    transform-origin: center;
}
.logout:hover::after{
    transform: scale(0);
}
.logout:hover::before{
    transform: scale(0);
} 



.nav .imgLogo {
    width: 500px;
    grid-area: logo;
    margin-top: 50px;
}
.nav .searchBar {
    grid-area: search;
}

