.card {
    width: 190px;
    height: 267px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
}
.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}
   
.card2 {
    width: 190px;
    height: 267px;
    background-color: #1a1a1a;
    /* border-radius: 20px; */
    transition: all .2s;
    position: relative;
}
.card2 .img {
    width: 91%;
    margin-top: 0.625rem;
    border-radius: 10px;
}
   
.card2:hover {
    transform: scale(0.98) ;
    border-radius: 20px;
}
 /******** BOTÓN DE ELIMINAR CARD ***********/

.card2:hover .btnX {
    display: block;
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    z-index: 5;

    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
}
   
.card2 .btnX {
    display: none;
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    z-index: 5;
}
.card2 .btnX, .btnX span {
    transition: 200ms;
}
.card2 .btnX .btnX_text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}
.card2 .btnX .btnX_icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card2 .btnX svg {
    width: 15px;
    fill: #eee;
}
.card2 .btnX:hover {
    background: #ff3636;
}
.card2 .btnX:hover .btnX_text {
    color: transparent;
}
.card2 .btnX:hover .btnX_icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}
.card2 .btnX:focus {
    outline: none;
}
.card2 .btnX:active .btnX_icon svg {
    transform: scale(0.8);
}

.btn {
    all: initial;
}