
.login {
    background-color: #262c3a;
    height: 100vh;
/*     max-height: 100%;
    max-width: 100%; */
    position: relative;
    overflow: hidden;
    
/*     display: flex;
    justify-content: center;
    align-items: center; */
}
.imgLogo{
    width: 1100px;
    position: absolute;
    left: 25%;
    top: 10%;
    z-index: 3;
}
/* ****************************************************** */
 /**************** DISEÑO CARD FORM *********************/
/* ****************************************************** */
.login .card {
    position: absolute;
    top: 50%;
    left: 42%;
    z-index: 2;

    width: 320px;
    height: 330px;
    background-image: linear-gradient(163deg, #c2dd9c 0%, #c2dd9c 100%);
    border-radius: 20px;
    transition: all .3s;

} 
   
.login .card2 {
    width: 320px;
    height: 330px;
    background-color: #262c3a;
    transition: all .2s;
    transform: scale(0.98);
    border-radius: 20px;
    /* padding-top: 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
/* ****************************************************** */
 /**************** DISEÑO INPUTS *********************/
/* ****************************************************** */

.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 20px;
    width: 100%;
    max-width: 227px;
}
.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
}
.form__field::-webkit-input-placeholder {
    color: transparent;
}
.form__field::-moz-placeholder {
    color: transparent;
}
.form__field:-ms-input-placeholder {
    color: transparent;
}
.form__field::-ms-input-placeholder {
    color: transparent;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:-moz-placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}
.form__field:-ms-input-placeholder ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    -o-border-image: linear-gradient(to right, #1e8f89, #1e8f89);
       border-image: -webkit-gradient(linear, left top, right top, from(#1e8f89), to(#1e8f89));
       border-image: linear-gradient(to right, #1e8f89, #1e8f89);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-size: 17px;
    color: #c2dd9c;
    font-weight: 700;
}
  /* reset input */
.form__field:required, .form__field:invalid {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form__error{
    font-size: 0.625rem;
    color: #e62222;
}
/* ****************************************************** */
 /**************** BOTÓN DE LOGIN *********************/
/* ****************************************************** */
.card2 .form__login {
    width: 7em;
    position: relative;
    height: 2.6em;
    border: 3px solid #1e8f89;
    outline: none;
    background-color: transparent;
    color: #c2dd9c;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    margin-top: 19px;
    cursor: pointer;
}
.card2 .form__login::before {
    content: "";
    position: absolute;
    top: 90%;
    left: 6%;
    width: 88%;
    height: 40%;
    background-color: #262c3a;
    transition: 0.5s;
    transform-origin: center;
}
.card2 .form__login::after{
    content: "";
    position: absolute;
    top: -10px;
    left: 6%;
    width: 88%;
    height: 40%;
    background-color: #262c3a;
    transition: 0.5s;
    transform-origin: center;
}
.form__login:hover::after{
    transform: scale(0);
}
.form__login:hover::before{
    transform: scale(0);
} 
.card2 .form__login:hover {
    box-shadow: inset 0px 0px 25px #2a9244;
}
/* ****************************************************** */
/**************** DEMO CREDENTIALS ***********************/
/* ****************************************************** */
.demoCredentials {
    margin-top: 8px;
    padding: 10px;
    background-color: #262c3a;
    border: 1px solid #1e8f89;
    border-radius: 5px;
    color: #c2dd9c;
    font-size: 0.8rem;
    text-align: center;
    width: 80%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
}

.demoCredentials p:first-child {
    color: #1e8f89;
    font-weight: bold;
    margin-bottom: 5px;
}

.demoCredentials p {
    margin: 3px 0;
}

/* ****************************************************** */
 /**************** IMAGEN PORTAL  *********************/
/* ****************************************************** */
.login .img {
    position: absolute;
    top: 7%;
    left: 30%;
    width: 800px;
    animation: rotateAnimation 100s infinite linear;
}
@keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
/* ****************************************************** */
 /**************** IMAGEN Rick y Morty  *********************/
/* ****************************************************** */

.imgRick {
    width: 360px;
    position: absolute;
    top: 38%;
    left: 78%;
}
.imgMorty{
    width: 450px;
    position: absolute;
    top: 61%;
    left: 5%;
}
/* ****************************************************** */
 /**************** MEDIA QUERIES  *********************/
/* ****************************************************** */
@media (max-width: 1700px) {
    /* Logo rick and morty */
    .imgLogo{
        width: 800px;
        position: absolute;
        left: 25%;
        top: 10%;
        z-index: 3;
    }
    /* Imagen portal */
    .login .img {
        left: 28%;
        width: 600px;
    }
    /* Imagen Rick */
    .imgRick {
        width: 260px;
        top: 42%;
    }
    /* Imagen Morty */
    .imgMorty{
        width: 325px;
        top: 62%;
        left: 3%;
    }
    /* Card de login */
    .login .card {
        left: 38%;
    } 
}
@media (max-width:1200px) {
    .imgLogo{
        width: 650px;
        left: 25%;
        top: 10%;
    }
    /* Imagen portal */
    .login .img {
        left: 30%;
        width: 500px;
    }
    /* Imagen Rick */
    .imgRick {
        width: 200px;
        top: 52%;
    }
    .imgMorty{
        width: 250px;
        top: 69%;
        left: 3%;
    }
    /* Card de login */
    .login .card {
        left: 37%;
    } 
}

@media (max-width:1000px) {
    .imgLogo{
        width: 550px;
        left: 25%;
        top: 10%;
    }
    /* Imagen portal */
    .login .img {
        left: 30%;
        width: 400px;
    }
    /* Imagen Rick */
    .imgRick {
        width: 150px;
        top: 62%;
    }
    .imgMorty{
        width: 187px;
        top: 75%;
        left: 3%;
    }
    /* Card de login */
    .login .card {
        top: 40%;
        left: 35%;
    } 
}
@media (max-width:800px) {
    .imgLogo{
        width: 450px;
        left: 25%;
        top: 10%;
    }
    /* Imagen portal */
    .login .img {
        left: 30%;
        width: 350px;
    }
    /* Imagen Rick */
    .imgRick {
        width: 150px;
        top: 62%;
    }
    /* Card de login */
    .login .card {
        top: 40%;
        left: 32%;
    } 
}
@media (max-width:430px) {
    .imgLogo{
        width: 370px;
        left: 9%;
        top: 4%;
    }
    /* Imagen portal */
    .login .img {
        left: -13%;
        top: 62%;
        width: 300px;
    }
    /* Imagen Rick */
    .imgRick {
        width: 160px;
        top: 68%;
        left: 64%
    }
    .imgMorty{
        display: none;
    }
    /* Card de login */
    .login .card {
        top: 20%;
        left: 14%;
    } 
}
@media (max-width:410px) {
    .imgLogo{
        width: 330px;
        left: 10%;
        top: 4%;
    }
    /* Imagen portal */
    .login .img {
        left: -13%;
        top: 62%;
        width: 270px;
    }
    /* Imagen Rick */
    .imgRick {
        width: 140px;
        top: 71%;
        left: 64%
    }
    /* Card de login */
    .login .card {
        top: 20%;
        left: 12%;
    } 
}
@media (max-width:380px) {
    .imgLogo{
        width: 320px;
    }
    /* Imagen portal */
    .login .img {
        left: -13%;
        top: 64%;
        width: 250px;
    }
    /* Imagen Rick */
    .imgRick {
        width: 130px;
        top: 71%;
        left: 64%
    }
    /* Card de login */
    .login .card {
        top: 20%;
        left: 10%;
    } 
}