.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 5px;
    width: 100%;
    max-width: 227px;
}
.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
}
.form__field::-webkit-input-placeholder {
    color: transparent;
}
.form__field::-moz-placeholder {
    color: transparent;
}
.form__field:-ms-input-placeholder {
    color: transparent;
}
.form__field::-ms-input-placeholder {
    color: transparent;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:-moz-placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}
.form__field:-ms-input-placeholder ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    -o-border-image: linear-gradient(to right, #1e8f89, #1e8f89);
       border-image: -webkit-gradient(linear, left top, right top, from(#1e8f89), to(#1e8f89));
       border-image: linear-gradient(to right, #1e8f89, #1e8f89);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-size: 17px;
    color: #c2dd9c;
    font-weight: 700;
}
  /* reset input */
.form__field:required, .form__field:invalid {
    -webkit-box-shadow: none;
    box-shadow: none;
}