.form{
    display: inline-flex;
    align-items: center;
    margin-top: 22px;
}
/* ****************************************************** */
 /**************** DISEÑO INPUTS *********************/
/* ****************************************************** */
.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 5px;
    width: 100%;
    max-width: 227px;
}
.form__field {
    font-family: inherit;
    width: 227px;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
}
.form__field::-webkit-input-placeholder {
    color: transparent;
}
.form__field::-moz-placeholder {
    color: transparent;
}
.form__field:-ms-input-placeholder {
    color: transparent;
}
.form__field::-ms-input-placeholder {
    color: transparent;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:-moz-placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}
.form__field:-ms-input-placeholder ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    -o-border-image: linear-gradient(to right, #1e8f89, #1e8f89);
       border-image: -webkit-gradient(linear, left top, right top, from(#1e8f89), to(#1e8f89));
       border-image: linear-gradient(to right, #1e8f89, #1e8f89);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-size: 16px;
    color: #dddddd;
    font-weight: 700;
}
  /* reset input */
.form__field:required, .form__field:invalid {
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* ****************************************************** */
 /**************** DISEÑO botón *********************/
/* ****************************************************** */
.form__btn {
    --neutral: #dddddd;
    /* font-size: 15px; */
    font-weight: bold;
    width: 123px;
    margin-left: 30px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    cursor: pointer;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid #1e8f89;
    background: #262c3a;
    /* background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%); */
    color: var(--neutral);
    /* box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1); */
  }
  
  .form__btn:hover {
    color: var(--neutral);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  
  .form__btn:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
  }
  
  .form__btn:hover:before {
    transform: translateX(15em);
  }